<%- include('../partials/head.ejs') %> 
<body>
    <h1 class="name">
        List of all <span style="color:aquamarine;"> Portfolio Website</span>
        Developed
    </h1>    
    <br>

    <div class="portfolios">
        <% for(let inn of Iinfo){%> 
        <div class="portfolio-item">
            <div class="image">
        <img src="<%=inn.img%>" alt="">
            </div>
            <div class="hover-items">
                <h3><a href="<%=`/find?id=${inn._id}`%>"><%= inn.name %></a></h3>
                <div class="icons">
                    <a href="<%= inn.github %> " class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="<%= inn.facebook %> " class="icon">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="<%= inn.youtube %> " class="icon">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <% } %> 
    </div>
    <h1 class="name"><a href="/">Go <Span style="color: aquamarine;">Home</Span></a></h1>


</body>
<%- include('../partials/foot.ejs') %> 
